*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	background: #3c5b9a;
	height:70px;
}
.sign_up{
	height: 30px;
	width: 	77px;
	float: left;
	margin-top: 35px;
}
#log_in{
	display: inline-block;
	bacground-color:#67a54b;
}
.logo{
  padding-top: 10px;
  float: left;
  margin-left: 60px;
}
#log_in {
  text-align: center;
  background-color: #67a54b;
  width: 59px;
  color: white;
  font-weight: 	bold;
  border: 1px solid transparent ;
   cursor: pointer;
 }

 .form{
 	
 	margin: 0 auto;
 	margin-top: 50px;
 	padding: 20px 15px ;
 	border: 1px solid gray;
 	width: 50% 	;
 	min-height: 40%;
 	min-width: 500px;
 	text-align: center;
 	border:1px solid #cccccc;
    border-radius: 4px;
 }
 
 .form h1{
 	margin-bottom: 5px;
 	text-align: left;
 	font-size: 21px;
 }
.form_pos{
	margin: 0 auto;
	margin-top: 20px;
	
	width: 60%;
  min-width: 400px;

}
.form input	{

  text-align: center;
  background-color: #fff;
  font-weight: 200;
 
  width: 140px;
 
 margin-bottom: 10px;
  border: 2px solid #bdc7d8;
  border-radius: 3px;
  font-size: 16px;
  margin-right:  110px;

}
#email_or_phone{
	margin-left: 10px;
}
#password{
	margin-left: 49px;
}
#checkbox{
	display: inline-block;
	width: 	15px;
	margin: 0px;
	
	margin-top: 10px;
	margin-bottom:  10px;
}
#login{
  margin: 0px;
  margin-left:  75px;
  text-align: center;
  background-color: #5872a7;
  width: 59px;
  color: white;
  font-weight: 	bold;
  border: 1px solid #29447e ;
  cursor: pointer;
  border-radius: 0px;
  font-size: 15px;
  padding: 3px 5px;
  margin-bottom:20px ;

}
#sign_face{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}
label
{
 color: #666666;
 
 

}
#forgot{
	text-decoration: none;
	font-size: 15px;
}
